{% block captcha_widget %}
    {% if is_human %}
        -
    {% else %}
        {% spaceless %}
            <div class="captcha_div">
                <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" class="captcha_image" width="{{ captcha_width }}" height="{{ captcha_height }}" />
                {% if reload %}
                    <script type="text/javascript">
                        function reload_{{ image_id }}() {
                            var img = document.getElementById('{{ image_id }}');
                            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                        }
                    </script>
                    <a class="captcha_reload" href="javascript:reload_{{ image_id }}();" class="captcha_reload">{{ 'Renew'|trans({}, 'gregwar_captcha') }}</a>
                {% endif %}
                {{ form_widget(form,{ 'attr':{'class':'captcha_input' }}) }}
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock %}

